NEXT_PUBLIC_POSTHOG_KEY=123
NEXT_PUBLIC_POSTHOG_HOST=123

NEXT_PUBLIC_MAPBOX_TOKEN=123

NEON_CONNECTION_STRING=123

BETTER_AUTH_SECRET=123
GOOGLE_CLIENT_SECRET=123
GOOGLE_CLIENT_ID=123
FACEBOOK_CLIENT_SECRET=123
FACEBOOK_CLIENT_ID=123

CLOUDINARY_URL=123
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=123
