@keyframes heart-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.heartPulse {
    animation: heart-pulse 2s ease-in-out infinite;
    display: inline-block;
}
